.choose-by-date-page.container{
    width:100vw;
    height:100vh;
}

.choose-by-date-page .main-container{
    display:flex;
    padding:24px;
    width:100%;
    height:100%;
}

.choose-by-date-page .map-container{
    background-image : url('/map-img.webp');
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-end;
    padding:15px;
}

.choose-by-date-page .search-container{
    display:flex;
    gap:15px;
}

.choose-by-date-page .left-div,.right-div{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.choose-by-date-page .icon-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:51px;
    width:51px;
    background-color: var(--secondary-color);
    border-radius:10px;
    border:1px solid var(--gray-100);
}

.choose-by-date-page .icon-container>svg{
   height:22px;
   width:22px;
   cursor:pointer;
}

.choose-by-date-page .date-selection-container{
    display:flex;
    justify-content:space-between;
}

.choose-by-date-page .side-container{
    width:650px;
    height:100%;
    background-color:var(--secondary-color);
    padding:10px 30px;
}

.choose-by-date-page .side-container > p{
    font-size:14px;
    font-weight:400;
    color:var(--gray-200 );
    margin:5px 0 15px 0;
}

.choose-by-date-page .cards-container{
    display:flex;
    justify-content:space-between;
    gap:25px;
}

.choose-by-date-page .photographer-card{
    flex:1;
}

@media(max-width:770px){
  .choose-by-date-page .main-container{
    flex-direction:column;
}

.choose-by-date-page .side-container{
    width:100%;
}
}

