.sign-in-page.container{
    display:flex; 
}

.sign-in-page .heading{
   margin-bottom:15px;
}

.sign-in-page .div{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    align-items:center;
    color:var(--gray-200);
}

.sign-in-page .div > p{
    color:var(--primary-color)
}

.sign-in-page .or-divider{
    display:flex;
    font-size:14px;
    align-items:center;
    justify-content:space-between;
}

.sign-in-page .separator-line{
    width:146px;
    height:2px;
}

.sign-in-page .sign-up-div{
    margin:0 auto;
    font-size:14px;
}

.sign-in-page .sign-up-div:hover{
    text-decoration: underline;
    cursor:pointer;
}

.sign-in-page .sign-up-div > span{
    color:var(--primary-color);
    font-weight:bold; 
}

@media(max-width:880px){
    .sign-in-page .container{
        flex-direction:column;
    }
}