.sign-up-page.container{
    display:flex; 
}

.sign-up-page .heading{
   margin-bottom:15px;
}

.sign-up-page .div{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    align-items:center;
    color:var(--gray-200);
}

.sign-up-page .or-divider{
    display:flex;
    font-size:14px;
    align-items:center;
    justify-content:space-between;
}

.sign-up-page .separator-line{
    width:146px;
    height:2px;
}

.sign-up-page .login-div{
    margin:0 auto;
    font-size:14px;
}

.sign-up-page .login-div:hover{
    text-decoration: underline;
    cursor:pointer;
}

.sign-up-page .login-div > span{
    color:var(--primary-color);
    font-weight:bold;
}

@media(max-width:880px){
    .sign-up-page .container{
        flex-direction:column;
    }
}