*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  width:100%;
  min-height:100vh;
  overflow-x:hidden;
  font-size:16px; 
}

:root {
  --primary-color: #2BAFC7;
  --secondary-color: #ffffff;
  --heading-color:#120D26;
  --gray-100: #E4DFDF;
  --gray-200: #747688;
  --gray-300:#807A7A;
  --yellow:#FBBE47;
  --red: #E53535;
}

h1{
  font-weight:500; 
  font-size: 32px;
  line-height:1.2;
  vertical-align: middle;
  color:var(--heading-color)
}

/* for SideComponent.jsx */
.side-component{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  width:50vw;
  background-color:var(--primary-color);
}

.side-image{
  width:76.5%;
}

/* for PMButton.jsx */
button{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:5px;
  width:345px;
  font-size:16px;
  font-weight:600;
  padding:20px 0;
  border-radius:15px;
  font-weight:600;
  cursor:pointer;
  border:none;
}

button.filled{
  border: 1px solid var(--secondary-color);
  background-color:var(--primary-color);
  color:var(--secondary-color);
  text-transform:uppercase;
}

button.outline{
  border: 1px solid var(--primary-color);
  background-color:var(--secondary-color);
  color:var(--primary-color);
  text-transform:uppercase;
}

/* for PMInput.jsx */
.input-div{
  width:345px;
  display:flex;
  align-items:center;
  border:1px solid var(--gray-100);
  height:56px;
  border-radius:12px;
  color:var(--gray-200);
}

.input-div:focus-within{
  border: 1px solid var(--primary-color)
}

.input-div.error{
  border: 1px solid var(--red)
}

.input-div .left-icon{
  width:22px;
  height:22px;
  margin:0 10px;
}

input{
  font-size:14px;
  font-weight:400;
  flex-grow:1;
  border:none;
  outline:none;
}

.eye-icon-container{
  margin:0 15px;
  position:relative;
  cursor:pointer;
}

.error-msg{
  color:#dc3545;
  font-size:12px;
  margin-top:5px;
  font-weight:500;
}

/* for FormContainer.jsx */
.form-container{
  display:flex;
  flex-direction:column;
  min-width:50vw;
  min-height:100vh;
  flex-grow:1;
  display:flex;
  padding:24px;
  color:var(--gray-200);
}

.form-container > img{
  width:4.75vw;
}

.form-content{
  display:flex;
  flex-direction:column;
  width:345px;
  gap:15px;
  margin:0 auto;
  height:100%;
  justify-content:center;
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

/* for LoginWithButton.jsx */
button.login-with-button{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:var(--secondary-color);
  box-shadow:15px 0 30px 0 rgba(211, 218, 226, 0.25);
  color:var(--gray-200);
  font-size:16px;
  line-height:25px;
  font-weight:400;
}

button.login-with-button > svg{
  width:26px;
  margin-right:10px;
}

/* for BackButton.jsx */
.back-button{
  display:none;
  margin:5px 0 0 5px;
}

/* for PMToggle.jsx */
.toggle-div{
    display:flex;
    align-items:center;
    gap:5px;
}

.toggle-button{
    width:32.3px;
    height: 21.2px;
    border-radius:10px;
    background-color:var(--gray-100);
    cursor:pointer;
    position:relative;
    transition: background-color 0.3s ease;
}

.toggle-button.active{
    background-color:var(--primary-color);
}

.toggle-ball{
    height:15.2px;
    width:15.2px;
    border-radius:50%;
    background-color:var(--secondary-color);;
    left:3px;
    top:3px;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-ball.active{
    transform: translateX(11.1px); /* Move right (32.3px width - 15.2px ball - 4px total margins) */
}

/* for NavBar.jsx */
.navbar{
  position: relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:var(--primary-color);
  padding:22px 90px;
  z-index:2;
}

.nav-logo-container{
  width:40px;
  display:flex;
  align-items:center;
}

.nav-logo-container > img{
  width:100%;
}

.nav-menu{
  display:flex;
  list-style:none;
  margin:0;
  padding:0;
  gap:25px;
}

.nav-menu > li{
  cursor:pointer;
}

.nav-menu > li > a {
  font-size:16px;
  font-weight:600;
  display:flex;
  align-items:center;
  text-decoration:none;
  color:var(--secondary-color);
  gap:10px;
}

.nav-menu > li > a > svg {
  width:18px;
  height:18px;
}

/* for SearchField.jsx */
.search-field{
  height:51px;
  display:flex;
  align-items:center;
  padding:0px 15px;
  background-color:var(--secondary-color);
  border-radius:10px;
  border:1px solid var(--gray-100);
  width:315px;
}

.search-field > input{
  font-size:14px;
  font-weight:400;
  color:var(--gray-200);
  font-size:12px;
}

/* for DateSelector.jsx */
.date-selector{
  padding:0 15px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:51px;
  background-color:var(--secondary-color);
  border-radius:10px;
  border:1px solid var(--gray-100);
  font-size:12px;
  font-weight:400;
  color:var(--gray-200);
}


.date-selector  input{
  font-size:12px;
  font-weight:400;
  color:var(--gray-200);
}

/* for PhotographerCard.jsx */
.photographer-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-width:153px;
  min-height:184px;
  padding:5px;
  border: 1.02px solid rgba(228, 223, 223, 0.25);
  gap:7px;
  cursor:pointer;
}

.photographer-card.not-available{
  background-color:#F0F0F0;
}

.ratings-container{
  display:flex;
  align-items:center;
}

.ratings-container > svg{
  margin-right:5px;
}

.ratings{
  font-weight:600;
  size:14px;
}

.reviews{
  font-weight:400;
  color:#674960;
  font-size:12px;

}

.avatar-container{
  height:68px;
  width:68px;
  border-radius:50px;
}

.avatar-container > img{
  height:68px;
  width:68px;
  border-radius:50px;
  /* object-fit:cover; */
}

.name{
  font-size:14px;
  color:var(--heading-color);
  font-weight:500;
  text-align:center;
}

.title{
  color:var(--gray-200);
  font-weight:400;
  font-size:12px;
}

.avatar-container > img{
  width:100%;
  height:100%;
}

/* for ImageCard.jsx */
.img-card{
  height:157px;
  width:166.7px;
}

.img-card > img{
  display:block;
  height:100%;
  width:100%;
  border-radius:10px;
}

/* for ReviewCard.jsx */
.review-card{
  display:flex;
  gap:10px;
  padding:15px 25px;
  width:300px;
  border: 1.02px solid rgba(228, 228, 228, 0.2);
}

.review-card:hover{
  background-color:var(--gray-100);
}

.profile-pic{
  height:34px;
  width:34px;
}

.profile-pic > img{
  height:100%;
  width:100%;
}

.review-container{
  display:flex;
  flex-direction:column;
  gap:5px;
  width:100%
}

.name-div{
  width:100%;
  display:flex;
  justify-content:space-between;
}

.reviewer-name{
  font-size:18px;
  color:var(--heading-color);
  font-weight:500;
}

.review-date{
  font-size:14px;
  font-weight:400;
  color:var(--gray-200);
}

.ratings > svg{
  width:19px;
  height:19px;
}

.comment{
  font-size:14px;
  font-weight:400;
  color:var(--gray-200);
}

/* for PackageCard.jsx */
.package-card{
  background-color:#1ACEEF;
  color:var(--secondary-color);
  gap:10px;
  padding:15px;
  border-radius:12px;
  width:325px;
  height:358px;
}

.package-card .content{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.package-card .description {
  list-style-position: inside;
}

.package-card .description > li{
  font-size:16px;
  font-weight:400;
}

.icon-container{
  width:100%;
  display:flex;
  justify-content:flex-end;
}

.package-card .main-info{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.package-card .package-name{
  font-size:20px;
  font-weight:500;
}

.package-card .price{
  font-size:28px;
  font-weight:600;
}

.icon-container > svg{
  width:30px;
  height:27px;
}

.package-card button{
  width:100%;
  background-color:#1ACEEF;
}

@media(max-width:1100px){
  .side-component{
  width:40vw;
  }
}

@media(max-width:880px){
  .side-component{
  width:30vw;
  }
}

@media(max-width:770px){

  .main-container{
    margin-bottom:72px;
  }
  .navbar{
    width:100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content:center;
    background-color:var(--secondary-color);
    padding:12px 0;
  }

  .nav-logo-container{
    display:none;
  }

  .nav-menu{
    width:100%;
    justify-content:space-around;
  }
/* 
  .nav-menu > li {
      padding:10px 0;
  } */

  .nav-menu > li > a {
    flex-direction:column;
    font-size:12px;
    font-weight:400;
    /* align-items:center; */
    color:#9E9E9E;
    gap:2px;
    padding:10px 0;
  }

  .nav-menu > li > a > svg {
    width:18px;
    height:18px;
  }

  .nav-menu > li > a > svg path{
    fill:#9E9E9E;
  }

  .nav-menu > li:hover {
      color:var(--primary-color);
  }
  
    .nav-menu > li > a.active {
    color:var(--primary-color);
    border-bottom:2px solid var(--primary-color);
  }

  .nav-menu > li > a.active > svg path {
  fill: var(--primary-color);
  }
}

@media(max-width:740px){
  .side-component{
  display:none;
  }
  .form-container{
    flex-direction:column;
    gap:15px;
    margin:0;
  }
  .form-container > img{
    position:static;
    margin:0 auto;
    width:100px;
  }
  .back-button{
      display:block;
  }
}
