.photographer-packages.content{
  display:flex; 
}

.photographer-packages .main-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:25px;
  padding:32px 182px;
}

.photographer-packages .buttons-container{
    display:flex;
    gap:20px;
}

.photographer-packages .buttons-container button {
  width:154px;
}

/* for PhotographerCard.jsx */
.photographer-packages .photographer-card{
  width:auto;
  height:auto;
  border:none;
}

.photographer-packages .ratings-container > svg{
  width:21.68px;
  height:21.86px;
}

.photographer-packages .ratings{
  size:20px;
}

.photographer-packages .reviews{
  font-size:16px;

}

.photographer-packages .avatar-container{
  height:132.52px;
  width:132.52px;
}

.photographer-packages .name{
  font-size:32px;
}

.photographer-packages .title{
  font-size:20px;
} 

.photographer-packages .portfolio-navbar-container{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  justify-content:space-between;
  width:100%;
  font-size:20px;
  margin-top:35px;
}

.photographer-packages .portfolio-navbar{
    display:flex;
    gap:60px;
    height:40px;
}

.photographer-packages .portfolio-navbar > li{
    list-style:none;
    height:100%;
}

.photographer-packages .portfolio-navbar > li > a{
    display:flex;
    text-decoration:none;
    font-weight:400;
    color:var(--gray-200);
    height:100%;
    text-transform:uppercase;
}

.photographer-packages .portfolio-navbar > li > a.active{
    color:var(--primary-color);
    border-bottom: 3px solid var(--primary-color)
}

.photographer-packages .packages-container{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
}

.photographer-packages .no-data-div{
  width:100%;
  display:flex;
  justify-content:center;
  color:var(--gray-200);
  font-size:20px;
  margin-top:30px;
}

@media(max-width:975px){
  .photographer-packages .main-container{
    padding:32px 50px;
  }
}

@media(max-width:450px){
  .photographer-packages .main-container{
    padding:32px 20px;
  }

  .photographer-packages .portfolio-navbar-container{
  font-size:15px;
  flex-direction:column;
  align-items:center;
  
  }
  .photographer-packages .portfolio-navbar{
    gap:12px;
  }
  .photographer-packages .buttons-container{
    flex-direction:column;
  }
  .photographer-packages .package-card{
    width:250px;
  }
}

